<footer class="d-flex justify-content-center pt-4 pb-3 border-top">
    <a href="" class="mx-4 text-secondary font-monospace">Main</a
    ><a href="" class="mx-4 text-secondary font-monospace">Jobs</a>
    <a href="" class="mx-4 text-secondary font-monospace">Freelancers</a>
    <a href="" class="mx-4 text-secondary font-monospace">Help</a>
</footer>