<div class="mainContent border-bottom py-2 mt-3">
  {{! <a href='https://www.freepik.com/vectors/work-illustration'>Work illustration vector created by storyset - www.freepik.com</a> }}
  {{! <a href='https://www.freepik.com/vectors/business-cartoon'>Business cartoon vector created by jcomp - www.freepik.com</a> }}
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-6 text-center">
      <h1 class="display-5 special-font-1">Find talents easily</h1>
      <p class="lead special-font-1">Find freelancer in few clicks</p>
      <button class="btn btn-success btn">Find talents</button>
    </div>
    <div class="col-6 h-100 contentImage"></div>
  </div>
</div>
<div class="container marketing mt-5 text-center">
  <div class="row">
    <div class="col-6">
      <div class="image">
        <img src="images/customer.jpg" width="240px" alt="customer" srcset="" />
      </div>
      <h2 class="special-font-1">To customers</h2>
      <p class="lead">Freelancework provide a convenient way to create orders
        for customers thanks to an intuitive interface and built-in cues. Also,
        the exchange provide ratings of the best freelancers for the week /
        month / year, as well as recommend freelancers working with similar
        projects. There will also be an opportunity to find the right specialist
        faster thanks to the premium features.</p>
    </div>
    <div class="col-6">
      <div class="image">
        <img
          src="images/freelancer.jpg"
          width="240px"
          height="160.3px"
          alt="freelancer"
          srcset=""
        />
      </div>
      <h2 class="special-font-1">To freelancers</h2>
      <p class="lead">Freelancework provide a convenient way to search for
        orders based on work experience, skills and even past orders. Also,
        freelancers provided with a convenient rating system, thanks to which it
        be easier for a freelancer to get regular clients. Also, depending on
        the quality of the orders a freelancer will be more often recommended to
        customers.</p>
    </div>
  </div>
</div><hr class="featurette-divider" />
<div class="shortBestUsers mt-4"></div>