<div class="post py-2 my-5 text-center">
  <form class="form-post" method="post">
    <h1 class="h3 special-font-1 mb-3 font-weight-normal">Post project</h1><hr
      class="featurette-divider"
    />
    {{#if error}}
      <div class="inputError my-2">
        <span>Email or password incorrect!</span>
      </div>
    {{/if}}
    <div class="text-start">
      <label for="title" class="sr-only h4 special-font-1 my-3">Project title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        placeholder="Project title"
        name="title"
        required=""
        autofocus=""
      />
      <label
        for="shortDescription"
        class="sr-only h4 special-font-1 my-3"
      >Project short description</label>
      <input
        type="text"
        id="shortDescription"
        class="form-control"
        placeholder="Project short description"
        name="shortDescription"
        required=""
        autofocus=""
      />
      <div class="category my-5">
        <h4 class="special-font-1">Choose category</h4>
        <div class="categories text-center mt-4 nav">
          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="DesignArtCheck"
            value="designart"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="DesignArtCheck"
          >Design and Art</label><br />

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="ManagementCheck"
            value="management"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="ManagementCheck"
          >Management</label><br />

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="WebDevelopmentCheck"
            value="webdevelopment"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="WebDevelopmentCheck"
          >Web development</label>

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="TextsCheck"
            value="texts"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="TextsCheck"
          >Texts</label>

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="AudioVideoCheck"
            value="audiovideo"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="AudioVideoCheck"
          >Audio/Video</label>

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="GameDevelopmentCheck"
            value="gamedevelopment"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="GameDevelopmentCheck"
          >Game development</label>

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="ProgrammingCheck"
            value="programming"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="ProgrammingCheck"
          >Programming</label>

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="AdvertisementMarketingCheck"
            value="advertisementmarketing"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="AdvertisementMarketingCheck"
          >Advertisement and Marketing</label>

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="AnimationCheck"
            value="animation"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="AnimationCheck"
          >Animation</label>

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="PhotographyCheck"
            value="photography"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="PhotographyCheck"
          >Photography</label>

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="TranslatingCheck"
            value="translating"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="TranslatingCheck"
          >Translating</label>

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="MobileDevelopmentCheck"
            value="mobiledevelopment"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="MobileDevelopmentCheck"
          >Mobile Development</label>

          <input
            type="checkbox"
            class="btn-check categoriesCheckbox"
            name="categories"
            id="EducationCheck"
            value="education"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary mx-2 my-2"
            for="EducationCheck"
          >Education</label>
        </div>
      </div>
      <label for="description" class="sr-only special-font-1 h4 my-3">Project
        description</label>
      <textarea
        id="description"
        class="form-control"
        placeholder="Project description"
        name="description"
        required=""
      ></textarea>
      <button class="btn mt-4 btn-primary btn-block" type="submit">Post</button>
    </div>
  </form>
</div>